{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h1>Login Page</h1>
    <div>
        <h2>Dont have an account?</h2>
        <div>
            <form action="{% url 'accounts:signup' %}" method="get">
                <button type="submit">Sign up</button>
            </form>
        </div>
        <h2>Have an account?</h2>
        <div>
            <form method="post">
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form | crispy }}</p>
                    <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}