{% extends home.html %}
{% load static %}
{% load crispy_forms_tags %}
<! no base file yet -->
{% block content %}
<div>
    <h1>Login Page</h1>
    <div>
        <h2>Dont have an account?</h2>
        <div>
            <button>
                <a href="{% url 'accounts:signup' %}">Create New Account</a>
            </button>
        </div>
        <h2>Have an account?</h2>
        <div>
            <form method="post">
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form | crispy }}</p>
                    <button>Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}