{% load static %}
<div style="margin-bottom: 0;">
    <header>
        <nav>
            <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo" style="width: 15em; margin-right: 0%;">
            <ul style="margin-left:0;">
                <li><a href="{% url 'home' %}"><i class="bi bi-house"></i></a></li>
                <li><a href="{% url 'contact' %}"><i class="bi bi-telephone"></i></a></li>
                <li><a href="{% url 'about' %}"><i class="bi bi-info-circle"></i></a></li>
            </ul>
            <div class="container-fluid" style="width: 61%; margin-left: 0%; margin-right: 0em;">
                <form class="d-flex" action="" method="get">
                    <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search"
                        style="border-radius: 2em; height: 3em;  margin-top: 2.5em;">
                    <ul>
                        <li><a href=""><i class="bi bi-search"></i></a></li>
                    </ul>
                </form>
            </div>
            <ul style="margin-right: 0%;">
                {% if user.is_authenticated %}
                <li><a href="{% url 'cartapp:cart_detail' %}"><i class="bi bi-cart"></i>{% if item_count > 0 %} ({{ item_count }}){% endif%}</a></li>
                <li><a href="{% url 'accounts:update_profile' %}"><i class="bi bi-person"></i></a></li>
                <li style="margin-top: 1.5%;">
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: inherit; font: inherit; cursor: pointer; padding: 0;">
                            <i class="bi bi-box-arrow-right" style="padding: 1em;"></i>
                        </button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'accounts:signup' %}"><i class="bi bi-person-plus"></i></a></li>
                <li><a href="{% url 'accounts:login' %}"><i class="bi bi-door-open"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</div>
