{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to CrowdCast{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Hero Section -->
    <div class="jumbotron text-center bg-light p-5 mb-4 rounded">
        <header>
            <div class="hero-images">
                <img src="{% static 'images/comedy.png' %}" alt="Comedy Show" class="hero-image">
                <img src="{% static 'images/concert.png' %}" alt="Concert" class="hero-image">
                <img src="{% static 'images/sports.png' %}" alt="Sports" class="hero-image">
            </div>
            <div style="text-align: center;">
                <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo">
                <h1>Welcome to the CrowdCast</h1>
                <p>Where we make Tickets to fit your wallet.</p>
            </div>
        </header>
        <div>
        </div>
        <div class="input-group mb-3" style="max-width: 500px;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ query|default:'' }}">
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </div>
</div>
{% endblock %}
