{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
{% endblock %}
{% block title %}
{% endblock %}
{% block content %}
    <div>
        <p class="text-center my_search_text">You have searched for: <b>"{{ query }}"</b></p>
    </div>
    <div class="container">
        <div class="row mx-auto">
            {% for ticket in ticket_list %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-
                 12 col-lg-4">
                    <div class="card text-center" style="min-width: 18rem;">
                        <a href="{{ticket.get_absolute_url}}"><img 
                        class="card-img-top my_image" 
                            src="{{ticket.image.url}}" 
                               alt="{{ticket.event_name}}"></a>
                        <div class="card-body">
                            <h4>{{ticket.event_name}}</h4>
                            <p>€{{ticket.price}}</p>
                            {% if ticket.stock == 0 %}
                                <span class="badge bg-danger">SOLD OUT!!!!</span>
                            {% else %}
                                <a href="{% url 'cartapp:add_cart' ticket.id %}" 
                                class="btn btn-primary">Add to Cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="row mx-auto">
                    <p class="text-center my_search_text">0 results found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
